.btn-link:hover {
  color: #167495;
  text-decoration: none;
}

.btn-link:focus,
.btn-link.focus {
  text-decoration: none;
  box-shadow: none;
}

.dropdown > button.btn.btn-link {
  color: #969696;
  text-decoration: none;
  font-size: 1.1rem;
}

.dropdown > button.btn.btn-link:hover {
  color: #2f353a;
}
